@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color-primary-text: #485150;
    --color-secondary-text: #798885;
    --color-base-background: #EEFAF8;
}

* {
    color: var(--color-primary-text);
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-base-background);
}

.weather-container,
.primary-weather-data {
    display: flex;
    flex-direction: column;
}

.weather-container {
    padding: 24px 48px;
    background-color: white;
    border-radius: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.weather-container svg {
    fill: var(--color-secondary-text);
}

/* Secondary weather data */
.secondary-weather-data {
    display: flex;
    gap: 32px;
}

.secondary-weather-data > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.secondary-weather-data svg {
    width: 32px;
    height: 32px;
}