body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container, .primary-weather-data {
    display: flex;
    flex-direction: column;
}