@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color-primary-text: #333333;
    --color-secondary-text: #555555;
    --color-base-background: #DDEEFF;
}

* {
    color: var(--color-primary-text);
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container,
.primary-weather-data {
    display: flex;
    flex-direction: column;
}

.weather-container {
    padding: 24px 48px;
    background-color: white;
    border-radius: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}